%h1 Login

%div
= form_tag(sessions_path) do
   %input{type: 'text', name: 'email', placeholder: 'e-mail'}
   %input{type: 'password', name: 'password', placeholder: 'Password'}
   %input{type: 'submit', value: 'Login'}
