%h1 Resources

-# %div.search-bar
-#   = form_tag(controller: 'resources', action: 'search', :method => 'get') do
-#     %input{type: 'text', name: 'tag', placeholder: 'Search'}
-#     %input{type: 'submit'}

%br
%ul
  -@resources.each do |resource|
    %br
    -if resource.teachers_only?
    -else
      %li.resource-item
        %ul.resource-details
          %li.resource-title= resource.title
          %li.resource-url= link_to resource.url, resource.url
          %li.resource-tags
            - resource.tags.each do |tag|
              %span= tag.name
          %li.resource-fans
            Fans:
            = resource.favorites_count
