%H2 Add a Resource
%div.container
  =bootstrap_form_for @resource, url: {action: "create"} do |f|
    =f.text_field :title
    =f.text_field :url

    %p.btn.btn-outline-info.my-2.my-sm-0
    =f.submit
